name: Flake8

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - "*.py"
  workflow_dispatch:

jobs:
  styling:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Dependecnies
        run: |
          python -m pip install poetry
          python -m poetry install
      - name: Run Black
        run: black . --check
      - name: Run Isort
        run: isort . --check-only
      - name: Run Flake8
        run: flake8 .
      
